.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 800px;
    margin: auto 0;
    padding-left: 90px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: left;
}

.Header a {
    color: #232027;
    font-weight: medium;
    text-decoration: none;
    letter-spacing: 0.2em;

    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header a:hover {
    background: white;
    color: #232027;
    letter-spacing: 0.5em;
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(3, auto);
    }

    .Header a:nth-child(3) {
        display: none;
    }
}